<footer class = "">
     <div class="footer_column image-block">
          <img src="{{static('images/logotype.png') }}" alt="" class = "logotype">
          <div class="">
               &copy 2019 Pizza-
               <br>Все права защищены.
          </div>
     </div>
     <div class="footer_column">
          <ul>
               <li>
                    <a href="{{url('obp:about_us')}}" class = "aWithoutEffects">О нас</a>
               </li>
               <li>
                    <a href="{{url('obp:contacts')}}" class = "aWithoutEffects">Контакты</a>
               </li>
               <li>
                    <a href="{{url('obp:stocks')}}" class = "aWithoutEffects">Акции</a>
               </li>
          </ul>
     </div>
     <div class="footer_column">
          <ul>
               <li>
                    <a href="{{url('obp:express')}}" class = "aWithoutEffects">Оплата и доставка</a>
               </li>
               <!-- <li>
                    <a href="{{url('obp:contacts')}}" class = "aWithoutEffects">Контакты</a>
               </li>
               <li>
                    <a href="{{url('obp:stocks')}}" class = "aWithoutEffects">Акции</a>
               </li> -->
          </ul>
     </div>
     <div class="footer_column">
          <span class = "social-title">
               Мы в социальных сетях:
          </span>
          <div class = "icons">
               <a href="https://uk-ua.facebook.com">
                    <img src="{{static('images/social_networks_icons/fb.svg') }}" alt="error">
               </a>
               <a href="https://www.instagram.com">
                    <img src="{{static('images/social_networks_icons/instagram.svg')}}" alt="">
               </a>
               <a href="https://twitter.com">
                    <img src="{{static('images/social_networks_icons/twitter.svg')}}" alt="">
               </a>
               <a href="https://plus.google.com">
                    <img src="{{static('images/social_networks_icons/google.svg')}}" alt="">
               </a>
          </div>
     </div>

</footer>
