<div class="sidebar-block">
     <nav class = "sidebar">
          <a class = "sidebar-item aWithoutEffects" href = "{{ url('obp:products_page', args=[1]) }}">
               <div class = "sidebar-item-image">
                    <img src="{{ static ('images/sidebar_icons/pizza.svg') }}" alt="pizza" class = "image">
               </div>
               <span class = "title">Пицца</span>
          </a>
          <a class = "sidebar-item aWithoutEffects" href = "{{ url('obp:products_page', args=[2]) }}">
               <div class = "sidebar-item-image">
                    <img src="{{ static ('images/sidebar_icons/sushi.svg') }}" alt="sushi" class = "image">
               </div>
               <span class = "title">Суши</span>
          </a>
          <a class = "sidebar-item aWithoutEffects" href = "{{ url('obp:products_page', args=[3]) }}">
               <div class = "sidebar-item-image">
                    <img src="{{ static( 'images/sidebar_icons/burger.svg') }}" alt="sushi" class = "image">
               </div>
               <span class = "title">Бургеры</span>
          </a>
          <a class = "sidebar-item aWithoutEffects" href = "{{ url('obp:products_page', args=[4]) }}">
               <div class = "sidebar-item-image">
                    <img src="{{ static( 'images/sidebar_icons/salad.svg') }}" alt="sushi" class = "image">
               </div>
               <span class = "title">Салаты</span>
          </a>
          <a class = "sidebar-item aWithoutEffects" href = "{{ url('obp:products_page', args=[5]) }}">
               <div class = "sidebar-item-image">
                    <img src="{{ static( 'images/sidebar_icons/soup.svg') }}" alt="sushi" class = "image">
               </div>
               <span class = "title">Супы</span>
          </a>
          <a class = "sidebar-item aWithoutEffects" href = "{{ url('obp:products_page', args=[6]) }}">
               <div class = "sidebar-item-image">
                    <img src="{{ static( 'images/sidebar_icons/dessert.svg') }}" alt="sushi" class = "image">
               </div>
               <span class = "title">Десерты</span>
          </a>
          <a class = "sidebar-item aWithoutEffects" href = "{{ url('obp:products_page', args=[7]) }}">
               <div class = "sidebar-item-image">
                    <img src="{{ static( 'images/sidebar_icons/drink.svg') }}" alt="sushi" class = "image">
               </div>
               <span class = "title">Напитки</span>
          </a>
     </nav>
</div>
