input:required:invalid {
  border-color: red;
}
.nonOutline:focus {
  outline: none !important;
}
a.aWithoutEffects {
  color: black;
  text-decoration: none;
}
a.aWithoutEffects:hover {
  color: black;
  text-decoration: none;
}
.crumbs-container {
  border-bottom: 1px solid lightgray;
  min-height: 75px;
}
.crumbs-container .crumbs {
  margin-left: 50px;
  display: inline-block;
  vertical-align: middle;
  line-height: 75px;
}
.crumbs-container a:hover {
  color: #74c43f;
}
.crumbs-container .crumb-active {
  color: #42aaff;
}
body .main-container {
  min-height: 100vh;
}
body .main-container .header-container {
  min-height: 75px;
}
body .main-container .bottom-container {
  position: relative;
  display: flex;
  flex-grow: 1;
}
body .main-container .bottom-container .shadow-block {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 20;
}
body .main-container .bottom-container .content-container {
  min-width: 75px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
body .main-container .bottom-container .content-container .jambotron {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  z-index: 1;
  background-color: white;
}
body .main-container .bottom-container .content-container .footer {
  bottom: 0;
  heigth: 1000px;
  width: 100%;
  background-color: #000000;
  color: white;
}
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500;
  text-align: center;
}
#page-preloader .preloader {
  display: inline-block;
  vertical-align: middle;
}
#page-preloader .preloader img {
  display: block;
  height: 200px;
  width: 200px;
}
#page-preloader .preloader .spinner {
  width: 150px;
  height: 150px;
}
#page-preloader:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
@media (max-width: 575.98px) {
  .main-container .bottom-container {
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .main-container .bottom-container {
    flex-direction: column;
  }
}
@media (max-width: 991.98px) {
  .main-container .bottom-container {
    flex-direction: column;
  }
}
@media (max-width: 1199.98px) {
  .main-container .bottom-container {
    flex-direction: column;
  }
}
@media (min-width: 1199.98px) {
  .main-container .bottom-container {
    flex-direction: row;
  }
  .main-container .bottom-container .sidebar-container {
    width: 75px;
    height: 100%;
  }
}
.slide-container .carousel-item {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.slide-container .carousel-item img {
  min-width: 100%;
  max-width: 100%;
}
.recommendations-container {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  position: relative;
}
.recommendations-container .title {
  text-align: left;
  padding: 15px;
}
.recommendations-container .recommendations {
  display: inline-block;
  max-width: 85vw;
  padding-left: 10px;
  padding-right: 10px;
}
.recommendations-container .recommendations .item {
  margin: 0 10px;
}
.recommendations-container .recommendations .item img {
  width: 97%;
  border-radius: 5px;
}
.recommendations-container .recommendations .item .item-title {
  font-size: 20px;
}
.recommendations-container .recommendations .item:hover {
  box-shadow: 0 0 10px 5px gray;
}
.recommendations-container .recommendations .item:hover .item-title {
  color: #74c43f;
}
